* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
.nav {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(1, 3rem);
  justify-content: space-between;
  /* height: auto;
  width: auto; */
  color: white;
  background-color: #0a71c6;
}
.resume {
  padding: 2rem;
}
.resume:hover {
  background-color: orange;
}
.media-section {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 50px;
  list-style: none;
}
.nav-list {
  display: flex;
  justify-content: right;
  align-items: center;
  gap: 50px;
  list-style: none;
  margin-right: 5rem;
}
.nav-list a {
  color: inherit;
  text-decoration: none;
}

.nav-list ul {
  padding: 0;
  margin: 0;
}

@media only screen and (width: 390px) and (height: 844px) and (-webkit-device-pixel-ratio: 3) {
  .nav {
    display: flex;
    flex-direction: column;
    width: 34.5rem;
    height: 9rem;
    background-color: #0a71c6;
  }
  .media-section {
    display: flex;
    justify-content: start;
    margin-top: 2rem;
  }
  .nav-list {
    font-size: larger;
    font-weight: 200;
  }
  .resume {
    padding: 1rem;
    margin-bottom: 14px;
  }
  .resume:hover {
    background-color: orange;
  }
}
