.about {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(1, 21rem);
  color: whitesmoke;
}
.summery {
  padding: 6rem 3rem;
  background-color: #41a4f5;
  grid-column: 5 / -1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}
.summery-text {
  font-size: 20px;
  font-family: monospace;
  margin-top: 1rem;
}
.name {
  font-size: 3.5rem;
  font-family: monospace;
}
.image-cover {
  background-color: #41a4f5;
  grid-column: 1 / 5;
}
.image-cover .img {
  border-radius: 10px;
  margin: 3rem 0rem 3rem 9rem;
  width: 63%;
  height: 69%;
}
.hire-btn {
  padding: 0.6rem 2rem;
  border: none;
  border-radius: 0.2rem;
  background-color: #0a5089;
  color: whitesmoke;
  font-size: medium;
  margin-top: 1rem;
}
.hire-btn:hover {
  background-color: #3484c4;
  cursor: pointer;
}

/* tablet section */
@media (max-width: 800px) {
  .about {
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(1, 21rem);
  }
  .summery {
    grid-column: 1 / -1;
    padding: 2rem;
    font-family: Arial, Helvetica, sans-serif;
  }
  .image-cover {
    display: flex;
    flex-direction: start;
    grid-column: 1/-1;
  }
  .image-cover .img {
    width: auto;
    height: 80%;
    margin-left: 2rem;
    margin-top: 1rem;
  }
  .hire-btn {
    font-weight: 700;
    font-size: larger;
    padding: 1rem 2rem;
    margin-bottom: 1rem;
  }
}

/* mobile section */
@media (max-width: 500px) {
  .about {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2 1fr);
  }
  .summery {
    padding: 0rem 2rem;
    justify-content: center;
    align-items: center;
  }
  /* .image {
    width: 100%;
    height: auto;
  } */
  .image-cover .img {
    width: auto;
    height: 66%;
    margin-left: 5.5rem;
    margin-top: 3rem;
  }
  .hire-btn {
    margin-bottom: 1rem;
  }
}
