.footer {
  background-color: palevioletred;
}
.footer-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background-color: #41a4f5;
  width: auto;
  height: 8rem;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

/* tablet section */
@media (max-width: 800px) {
  .footer-wrapper {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background-color: #41a4f5;
    width: auto;
    height: 8rem;
    color: white;
  }
}

/* mobile section */
@media (max-width: 500px) {
  .footer-wrapper {
    height: auto;
    padding: 2rem;
  }
}
