.skills {
  background-color: red;
}
.skill-section {
  width: auto;
  height: 28rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: white;
}

/* skills overview style section */
.skills-overview {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 6rem;
  background-color: white;
  gap: 1rem;
}

@media (max-width: 800px) {
  .skills-overview {
    font-size: 25px;
    padding: 1rem 2rem;
    height: 23rem;
    width: auto;
    gap: 58px;
    font-family: Arial, Helvetica, sans-serif;
  }
  .skills-overview .h1 {
    margin-top: 5rem;
    background-color: blue;
  }
  .skill-section {
    height: auto;
    width: auto;
  }
}

@media (max-width: 500px) {
  .skills-overview {
    font-size: larger;
    padding: 1rem 2rem;
    height: auto;
  }
  .skill-section {
    height: auto;
  }
}
