.skills {
  background-color: red;
}
.skill-section {
  width: auto;
  height: 28rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: white;
}

/* skills overview style section */
.skills-overview {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 6rem;
  background-color: white;
  gap: 1rem;
}

@media only screen and (width: 390px) and (height: 844px) and (-webkit-device-pixel-ratio: 3) {
  .skill-section {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 34.5rem;
    height: 60rem;
  }
  .skills-overview {
    background-color: white;
    width: 34.5rem;
    height: 8rem;
    padding: 2rem;
  }
}
