.skill-section {
  width: auto;
  height: 36rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: white;
}

/* skills overview style section */
.skills-overview {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 22rem;
  background-color: white;
  font-size: 25px;
  line-height: 40px;
}
.skills-overview-h1 {
  margin-bottom: 5rem;
}

/* tablet style section */
@media (max-width: 800px) {
  .skills-overview {
    font-size: 25px;
    padding: 8.7rem;
    height: 23rem;
    width: auto;
    font-family: Arial, Helvetica, sans-serif;
  }
  .skills-overview .h1 {
    margin-top: 5rem;
    background-color: blue;
  }
  .skill-section {
    height: auto;
    width: auto;
  }
}

/* mobile style section */
@media (max-width: 500px) {
  .skills-overview {
    height: auto;
  }
  .skill-section {
    height: auto;
  }
}
