.card-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 6rem;
}

@media only screen and (width: 390px) and (height: 844px) and (-webkit-device-pixel-ratio: 3) {
  .card-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
