.card-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 6rem;
}

@media (max-width: 800px) {
  .card-wrapper {
    flex-direction: column;
    padding-bottom: 4rem;
  }
}

@media (max-width: 500px) {
  .card-wrapper {
    flex-direction: column;
  }
}
